---
import { getLocalizedEntry } from "@site/utils/localized-content";
import StarIcon from "@site/components/icons/StarIcon.astro";

interface Props {
  locale?: string;
}

const { locale = "en" } = Astro.props;

const testimonial = await getLocalizedEntry("testimonials", locale);
---

<section class="bg-muted dark:bg-transparent py-8 md:py-12">
  <figure class="container mx-auto flex flex-col gap-4 max-w-2xl">
    <!-- <p class="sr-only">5 out of 5 stars</p> -->
    <p class="flex gap-2">
      {
        [...Array(5)].map((_, i) => (
          <StarIcon class="fill-yellow-300 w-8 h-8" />
        ))
      }
    </p>
    <blockquote
      class="text-lg font-semibold leading-8 tracking-tight text-gray-900 sm:text-xl sm:leading-9"
    >
      <p>
        {testimonial?.data?.testimonial ?? '"Game changer."'}
      </p>
    </blockquote>
    <!-- <figcaption class="mt-10 flex items-center gap-x-6">
      <img class="h-12 w-12 rounded-full bg-gray-50" src="/si.jpeg" alt="" />
      <div class="text-sm leading-6">
        <div class="font-semibold text-gray-900">YouTuber</div>
        <div class="mt-0.5 text-gray-600">Director of IT at ToYou</div>
      </div>
    </figcaption> -->
  </figure>
</section>
