---
import { SEO, type Props as SEOProps } from "astro-seo";

import { getFixedT } from "@site/utils/i18next";
import { localeCodes } from "~/locales.config";

// import global tailwind + shadcn styles
import "~/globals.css";

interface Props extends SEOProps {
  locale?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { locale = "en" } = Astro.props;

const t = await getFixedT(locale);
---

<!doctype html>
<html lang={localeCodes[locale]}>
  <head>
    <SEO
      titleTemplate={`%s - ${t("title")}`}
      titleDefault={t("title")}
      description={t("description")}
      charset="utf-8"
      canonical={canonicalURL}
      {...Astro.props}
      extend={{
        meta: [
          { name: "viewport", content: "width=device-width,initial-scale=1" },
          { name: "generator", content: Astro.generator },
          ...(Astro.props.extend?.meta ?? []),
        ],
        link: [
          ...(Astro.props.extend?.link ?? []),
          { rel: "icon", type: "image/svg+xml", href: "/favicon.svg" },
          {
            rel: "alternate",
            type: "application/rss+xml",
            title: t("title"),
            href: `${Astro.site}rss.xml`,
          },
          { rel: "sitemap", href: "/sitemap-index.xml" },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
