---
import { getFixedT } from "@site/utils/i18next";

interface Props {
  locale?: string;
}

const { locale = "en" } = Astro.props;
const t = await getFixedT(locale);
---

<footer class="w-full">
  <div class="mx-12 p-4 flex justify-between border-t">
    <div class="flex gap-4">
      <a href={`/${locale}/terms`}>{t("terms")}</a>
      <a href={`/${locale}/privacy`}>{t("privacy")}</a>
    </div>
    <div>
      ©{new Date().getFullYear()}
      <span>My Company</span>
    </div>
  </div>
</footer>
